################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LanguageFeatures/.vs/LanguageFeatures/config/applicationhost.config
/LanguageFeatures/.vs/LanguageFeatures/DesignTimeBuild/.dtbcache.v2
/LanguageFeatures/.vs/LanguageFeatures/FileContentIndex
/LanguageFeatures/.vs/LanguageFeatures/v17
/LanguageFeatures/.vs/ProjectEvaluation
/LanguageFeatures/bin/Debug/net7.0
/LanguageFeatures/obj/Debug/net7.0
/LanguageFeatures/obj
/SportsStore/.vs/SportsStore/FileContentIndex
/SportsStore/.vs/SportsStore/config
/SportsStore/.vs/SportsStore/DesignTimeBuild/.dtbcache.v2
/SportsStore/.vs/SportsStore/DesignTimeBuild
/SportsStore/.vs/SportsStore/v17
/SportsStore/SportsStore/bin/Debug/net7.0/runtimes/unix/lib
/SportsStore/SportsStore/bin/Debug/net7.0/runtimes/win/lib
/SportsStore/SportsStore/bin/Debug/net7.0
/SportsStore/SportsStore/obj/Debug/net7.0/staticwebassets
/SportsStore/SportsStore/obj/Debug/net7.0
/SportsStore/SportsStore/obj
/SportsStore/SportsStore.Test/bin/Debug/net7.0
/SportsStore/SportsStore.Test/obj/Debug/net7.0
/SportsStore/SportsStore.Test/obj
/SportsStore/.vs/ProjectEvaluation
/Platform/.vs/Platform
/Platform/Platform/bin/Debug/net7.0
/Platform/Platform/obj/Debug/net7.0
/Platform/Platform/obj
/Platform/.vs/ProjectEvaluation
